html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(5, 0, 35);
}

.whole-page-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  border-color: white;
  overflow:hidden;
  position:-webkit-sticky;
  position:sticky;
  top:0px;
  background-color: rgb(3, 0, 19);
}

.brand-title{
  font-size: 3rem;
  margin: .5rem;
  color: whitesmoke;
}

.navbar-links{
  height: 100%;
}

.navbar-links ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  display: block;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.navbar-links li:hover {
  background-color: rgb(9, 0, 57);
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2%;
  border-bottom: solid;
  border-color: white;
  border-width: 0.01rem;
}

.text-container{
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: justify;
  color: whitesmoke;
  font-size: 24px;
  max-width: 70%;
}

.picture{
  padding: 2%;
  color: whitesmoke;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: large;
}

img{
  max-width: 400px;
  border-radius: 5%;
}

.about{
  padding: 1rem;
  display: flex;
  align-self: flex-start;
  color: whitesmoke;
  font-size: 20px;
}

@media screen and (max-width: 850px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
      border-top-style: dashed;
      border-color: whitesmoke;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }

  .picture-1{
    order: 1;
  }

  .text-container-1{
    order: 2;
  }

  .picture-2{
    order: 3;
  }

  .text-container-2{
    order: 4;
  }
}

#tictactoe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid;
  border-color: white;
  border-width: 0.01rem;
  color: whitesmoke;
}

.game-board{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 360px;
  width: 360px;
}

.ttt-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 90px;
  background-color: white;
  width: 120px;
  height: 120px;
  flex-basis: 33.333333%;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10%;
}

#reset-button {
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  border: 1px solid dodgerblue;
  margin: auto;
  margin: 1rem;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

/* wciąż się jebie bo zmienia się układ dla szerokości 1602px i poniżej*/