body {
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: rgb(4, 0, 27);
}

.sidenav {
  display: flex;
  padding: 1%;
  justify-content: center;
  border-bottom: solid;
  border-color: white;
}
.sidenav a{
  padding: 1%;
  font-size: xx-large;
  color: whitesmoke;
  text-decoration: none;
}

.content{
  display: flex;
}

.text_container{
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-content: center;
  color: whitesmoke;
  font-size: 22px;
}
.paragraph{
  margin-bottom: 4%;
}

.picture{
  display: flex;
  padding: 5%;
}